*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

section{
height: 100vh;
background: linear-gradient(rgb(38, 40, 67), rgb(68, 41, 39));
}

.score{
width: 100%;
height: 30vh;
color: rgb(224, 224, 224);
text-transform: capitalize;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 1rem;
border: 1px solid;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.479);
}


.player-flex{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 1rem;
}

.player-flex span{
font-size: 5rem;
font-weight: 900;
text-align: center;
}

.player-score, .computer-score{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}


.intro{
color: rgb(224, 224, 224);
height: 60vh;
display: flex;
gap: 1rem;
flex-direction: column;
justify-content: center;
align-items: center;
transition: opacity 0.5s ease;
}

.intro h1{
font-size: 2rem;
font-weight: 600;
text-align: center;
}

.intro button, .match button{
width: 5rem;
height: 2rem;
color: rgb(224, 224, 224);
background-color: rgb(45, 117, 96);
border: none;
border-radius: 50px;
font-size: 1rem;
cursor: pointer;
}

.match{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin-top: 10vh;
transition: opacity 0.5s ease 0.6s;
}

.winner{
font-size: 2rem;
color: rgb(224, 224, 224);
text-align: center; 
}

.objects, .options{
color: rgb(224, 224, 224);
display: flex;
justify-content: space-around;
align-items: center;
gap: 1rem;
margin: .555rem;
}

.game-over {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background: linear-gradient(rgb(38, 40, 67), rgb(68, 41, 39));
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease 0.6s;
}

div.fadeOut{
opacity: 0;
pointer-events: none;
}

div.fadeIn{
opacity: 1;
pointer-events: all;
}

@keyframes shakePlayer {
0%{
transform: translateY(0px);
}
15% {
transform: translateY(-50px);
}
25% {
transform: translateY(0px);
}
35% {
transform: translateY(-50px);
}
55%{
transform: translateY(0px);
}
65% {
transform: translateY(-50px);
}
75% {
transform: translateY(0px);
}
85% {
transform: translateY(-50px);
}                                                                               100% {
    transform: translateY(0px);
}
}










